.card-container{
    margin:80px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cat-container{
    display: flex;
    background: red;
    margin: 20px 30px;
}

@media (max-width: 768px) {

    .cat-container{
        flex-direction: column;
        align-items: center;
    }
}